body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f0f0f0;
}

.top-bar {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    border: none;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.5s ease-in-out;
}

.nav-menu a:hover {
    background-color: #f0f0f0;
}

.main-content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-box {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    width: 80%;
}

.section-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.image-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 20px; /* 设置图片之间的间距 */
    padding: 10px; /* 设置图片与 .section-box 边缘的距离 */
    box-sizing: border-box; /* 包括内边距在内的宽度计算 */
}

.image-container img {
    max-width: calc(50% - 10px); /* 计算最大宽度，减去间距的一半 */
    height: 512px; /* 固定高度 */
    object-fit: contain; /* 保持原始比例并填充容器 */
    border-radius: 8px;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    width: 100%;
    bottom: -60px;
    left: 0;
    color: #bbb;
    transition: bottom 0.3s ease-in-out, color 0.3s ease-in-out;
    backdrop-filter: blur(5px);
}

.footer a {
    color: #bbb;
    text-decoration: none;
}

.footer:hover {
    bottom: 0;
    color: #333;
}

.footer:hover a {
    color: rgb(0,0,255);
}






